We will be using pre-trained Transformer model from Hugging Face for this NLP task of matching given job descriptions with job titles and find the best matches.

In [1]:
%%capture
!pip install -U sentence-transformers

In [2]:
import numpy as np
import pandas as pd
from sentence_transformers import SentenceTransformer, util

In [3]:
# Read-in the job descriptions from a csv file

jobs = pd.read_csv("/content/Jobs.csv")
jobs

   job_id                                    job_description
0  134498  AWS and Python/Pyspark Developer will be respo...
1  167896  Talenteq Technology India Pvt Ltd is hiring ca...
2  198356  We are hiring for HR Recruiter. Share your res...
3   15472  Pandaj Web Services is looking to hire Team Le...
4   28761  Experience: 1-2 years\nLocation: Technopolis I...

In [4]:
# let's check out the first job entry

print(jobs['job_description'][0])

AWS and Python/Pyspark Developer will be responsible for developing and debugging process flows Related to Data Analytics using AWS services. Understanding of AWS services mentioned below is a must:

1. Amazon S3
2. AWS Lambda
3. Amazon Redshift
4. AWS Glue and Data Catalog
5. Amazon EC2
6. AWS Athena
7. Data Lake

Location: Noida, Bangalore
Experience: Minimum 1 years
Designation: Business Analyst / Senior Business Analyst

Role and Responsibilities:

- Develop Server-less Lambda functions to achieve connectivity between services using any scripting language e.g. Python.
- Usage of AWS Glue Crawlers for populating Data Catalog with metadata.
- AWS Glue Job creation for ETL services for large sets of data in Pyspark
- Data validation using services within AWS.
- Implementation of EC2 servers and their working.
- Usage of Amazon Redshift for Database.
- Performing ETL operations in Python.
- Good knowledge of python OOPS concepts and libraries such as pandas, NumPy, mat plot, etc.

Candidate Profile:

- Work experience as a AWS Developer, SQL, Python/Pyspark or any other scripting language.
- Expertise in at least 5 of the above mentioned services.
- BSc, B.Tech in Computer Science, Engineering or relevant field.

In [5]:
# Let's download the model in the local system

checkpoint = "all-MiniLM-L6-v2"
model = SentenceTransformer(checkpoint)

In [8]:
job_desc = list(jobs['job_description'])

job_titles = [
    'Software Developer',
    'Sales Lead',
    'Painter',
    'Stock Trader',
    'Electrician',
    'Human resource recruiter'
]

# Obtaining the vector embedding representations of the job descriptions and the job titles
jd_embeddings = model.encode(job_desc)
jt_embeddings = model.encode(job_titles)

# Calculating cosine similarity between all pairs of the job descriptions and the job titles
cos_sim = util.cos_sim(jd_embeddings, jt_embeddings)
cos_sim

tensor([[ 0.2658,  0.1255, -0.0247,  0.0980,  0.2656,  0.2582],
        [ 0.2969,  0.0883,  0.1079,  0.1096,  0.4701,  0.3185],
        [ 0.2149, -0.0012,  0.0590,  0.1593,  0.2143,  0.5619],
        [ 0.2784,  0.4891,  0.0545,  0.2049,  0.2674,  0.4338],
        [ 0.3686,  0.0636,  0.0934,  0.1758,  0.1846,  0.2309]])

In [9]:
# Now let's see which are the best matches for job tiltle for each job description

title_matches = np.argmax(cos_sim.numpy(), axis=1)

for jd, jt in zip(job_desc, title_matches):
    print("\nJob Description:\n\n", jd)
    print("\n>>>>> Best match for Job Title: ", job_titles[jt])
    print("---"*30)

Job Description:

 AWS and Python/Pyspark Developer will be responsible for developing and debugging process flows Related to Data Analytics using AWS services. Understanding of AWS services mentioned below is a must:

1. Amazon S3
2. AWS Lambda
3. Amazon Redshift
4. AWS Glue and Data Catalog
5. Amazon EC2
6. AWS Athena
7. Data Lake

Location: Noida, Bangalore
Experience: Minimum 1 years
Designation: Business Analyst / Senior Business Analyst

Role and Responsibilities:

- Develop Server-less Lambda functions to achieve connectivity between services using any scripting language e.g. Python.
- Usage of AWS Glue Crawlers for populating Data Catalog with metadata.
- AWS Glue Job creation for ETL services for large sets of data in Pyspark
- Data validation using services within AWS.
- Implementation of EC2 servers and their working.
- Usage of Amazon Redshift for Database.
- Performing ETL operations in Python.
- Good knowledge of python OOPS concepts and libraries such as pandas, NumPy, mat plot, etc.

Candidate Profile:

- Work experience as a AWS Developer, SQL, Python/Pyspark or any other scripting language.
- Expertise in at least 5 of the above mentioned services.
- BSc, B.Tech in Computer Science, Engineering or relevant field.

>>>>> Best match for Job Title:  Software Developer
------------------------------------------------------------------------------------------

Job Description:

 Talenteq Technology India Pvt Ltd is hiring candidates for Technician / Electrician job in Noida with an experience of 1 year(s). Candidate would be responsible for installing and repairing electrical control, wiring, and lighting systems. Candidates looking for Electrician jobs near by can apply directly. To apply for Full Time job vacancy candidate must be skilled at ITI Electrical, ITI, Maintenance, Technician, Electrical ITI.- Experience working as an electrician.

Required:
- High school diploma or ITI or a similar education
- Maintenance and Repair knowledge of electrical system and power generation.
- Diligence and attention to detail.

>>>>> Best match for Job Title:  Electrician
------------------------------------------------------------------------------------------

Job Description:

 We are hiring for HR Recruiter. Share your resume at hr@xxxconsulting.com

Location: Noida
Shift: 9:30 am to 6:30 pm
Experience: 6 months to 2 yrs in human resource

Responsibilities:
• Should have worked on IT and Non-IT requirements.
• Good communication skills
• Freshers can also apply provided they have either technical or HRMS background with good communication skills
• Should be able to work in target based atmosphere
• Local to Noida, should be comfortable coming to the office
• 6 days working, no fixed day off
• Salary is negotiable.

>>>>> Best match for Job Title:  Human resource recruiter
------------------------------------------------------------------------------------------

Job Description:

 Pandaj Web Services is looking to hire Team Lead - Field Sales

Requirements and skills:

1. To Identify decision makers within targeted leads and initiate the sales process.
2. To penetrate all targeted accounts and originate sales opportunities for the company's products and services.
3. To set up and deliver sales presentations, product/service demonstrations on daily basis.
4. To ensure systematic follow-up with the client organizations to take the sales pitch to time-bound closure.
5. To be an interface between the customer and internal support teams to ensure that the customer receives the best possible service from the company.
6. To ensure that all payments are collected as per the company's payment terms.
7. Ensure adherence to sales processes and requirements.

Qualifications:
- Graduation is must.
- At least 2 years of proven work experience in sales
- Should have own vehicle

Benefits:
- Competitive salary
- Health Insurance
- HRA
- Performance linked bonus

>>>>> Best match for Job Title:  Sales Lead
------------------------------------------------------------------------------------------

Job Description:

 Experience: 1-2 years
Location: Technopolis IT Hub, Bengaluru
Salary: Negotiable as per last CTC

Job Description
• Experience in developing enterprise grade Android Mobile Apps, NDK, and SDKs.
• Experience in Rest i.e SQLite, Faragments, Activities, Intents, Google API’s (FCM, MAP, Analytics, AdMob etc.).
• Experience in apps development with Payment gateway Integration and POS terminal like VeriFone/Ingenico/Pax.
• Experience on client-server application involving web service calling.
• Knowledge of Android Life Cycle and Threading Concepts.
• Knowledge of the general mobile landscape, architectures, trends, and emerging technologies.
• Strong understanding of material design, memory management, files I/O, network protocols, concurrency, multi-threading etc.
• Strong understanding of OOPs fundamentals, Java, Kotlin, JSON, Android 5 and above.
• Knowledge in architecting large solutions using patterns, like MVVM, VIPER.
• Knowledge of different screen sizes,andandroid version classes compatibility.
• Knowledge of Third party libraries like Volly, Retrofit, ButterKnife, Picasso.
• Knowledge of XML, JSON parsing, GPS and Google Maps integration.
• Knowledge of Firebase Services Other Third-party Services.
• Understanding of code versioning tool, like Git.
• Familiarity with deploying Android apps to the Google Play Store and should have published at least five Android app.
• Knowledge of OPENGL

>>>>> Best match for Job Title:  Software Developer
------------------------------------------------------------------------------------------